<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Document</title>
            <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="css/normalize.css">
            <link rel="stylesheet" href="css/fonts.css">
            <link rel="stylesheet" href="css/jquery.fancybox.min.css"> 
            <link rel="stylesheet" href="css/slick.css">
            <link rel="stylesheet" href="css/jquery.formstyler.css"> 
            <link rel="stylesheet" href="css/style.css">
            <link rel="stylesheet" href="css/style2.css">
            <link rel="stylesheet" href="css/media.css">
    </head>
    <body>
        <header class="header">
            <section class="header1">
                <div class="header__top">
                    <div class="container">
                        <div class="header__contacts">
                            <div class="header__content-inner">
                                <div class="header__logo">
                                    <a href="main">
                                        <img src="img/logo.png" alt="">
                                    </a>
                                </div>
                                <nav class="menu">
                                    <div class="header__btn-menu">
                                        <span class="icon-list-ul"></span>
                                    </div>
                                    <ul>
                                        <li><a href="about#about">Про нас</a></li>
                                        <li><a href="post">Подати проект</a></li>
                                        <li><a href="fond">Фондувати</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-sign">
                                <% if (!authData.state) { %>
                                    <a 
                                    data-fancybox 
                                    data-src="#modal" 
                                    href="javascript:;" 
                                    class="header__btn-signin" 
                                    href="#"
                                    >
                                        Реєстрація
                                    </a>
                                    <a 
                                    data-fancybox 
                                    data-src="#modal1" 
                                    href="javascript:;" 
                                    class="header__btn-signup" 
                                    href="#"
                                    >
                                        Вхід
                                    </a>
            
                                    <% } else if (authData.state && authData.name) { %> 
                                        Вітаємо, <%= authData.name %>! <% } %>
                        </div>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section class="about3">
            <div class="container">
                <div class="about1__inner">
                    <div class="about3__title-top">
                        Це твій вклад в розвиток твоєї ОТГ
                    </div>
                </div>
            </div>
        </section>
        <a name="about"></a>
        <section class="about3__box">
           <!-- <div class="container"> -->
                <div class="about3__box-first"> 
                <div class="about3__box-first-left"> 
                    <!--<img src="img/img1.png" alt=""> -->
                </div>
                <div class="about3__box-first-right"> 
                <div class="about3__title">
                    Наша ціль:  
                </div>
                <div class="about3__text">
                    INCROWD - народжений від бажання рухатись вперед, подорожує об'єднаними територіальними громадами, щоб стати потрібним інструментом, який служив би для їх розвитку та економічного стану. 
                    Також поділитися своїми проектами, ідеями, рішеннями та узгодити ефективність та позитивний вплив проектів та їх авторів на ОТГ. 
                    Розвиток місцевої економіки, створення робочих місць, захист ноу-хау, екологічний перехід: ми переконані, що всі ми повинні відігравати певну роль і що сьогодні наші технологічні інновації повинні бути послугами цієї еволюції. 
                </div>
            </div>
        </div>
        <div class="about3__box-second"> 
            
                <div class="about3__box-second-right"> 
               <!-- <img src="img/img2.png" alt="">-->
            </div>
            <div class="about3__box-second-left"> 
                <div class="about3__title">
                    Наша місія подвійна:
                </div>
                <div class="about3__text">
                    допомогти авторам проектів, які мають сильний вплив на реальну економіку та стан розвитку, а також допомога у покращенні об'єднаних територіальних громад.
                    Щодня ми підтримуємо підприємців, які звертаються до наших територій, до ноу-хау, щоб швидко та легко розвивати свій бізнес та сприяти розвитку відповідних територіальних громад. Народжений від бажання рухатись лініями, INCROWD подорожує дорогами України, щоб поділитися своїми рішеннями та узгодити ефективність та позитивний вплив, технології та люди, інвестиції та доступність.
                </div>
            </div>
            
    </div>
        </section>

        <footer class="footer">
            <div class="footer__content">
                <div class="container">
                    <div class="footer__inner">
                        <a href="main">
                            <div class="to_top s-arrow" style="display: inline-block">
                                </div>
                                </a>
                        <div class="footer__info">
                            <div class="footer__title">
                                INCROWD
                            </div>
                            <div class="footer__text">
                                Краудфандингова платформа для розвитку об'єднаних територіальних громад.
                            </div>
                            <!--<a data-fancybox data-src="#modal" href="javascript:;" class="header__btn" href="#">
                                Безкоштовна консультація
                            </a>-->
                            <ul class="footer__list">
                                <li><a class="footer__phone" href="tel:380632821043"> +38 (063) 616 56 21</a></li>
                                <li><a href="#">olgamakarmyhailivna@gmail.com</a></li>
                                <li><a class="footer__adress" href="#">Україна</a></li>
                            </ul>
                        </div>
                        <div class="footer__map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10938209.494752761!2d22.208320093863712!3d47.98547154770034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c154700e8f%3A0x1068488f64010!2z0KPQutGA0LDRl9C90LA!5e0!3m2!1suk!2sua!4v1589296788537!5m2!1suk!2sua" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer__copy">
                <div class="container">
                    <div class="copy__text">
                        с 2020 Template by  Olga Makar. Всі права захищені.
                    </div>
                </div>
            </div>
        </footer>
        <div id="modal">
            <form action="/register" method="POST">
                <input type="text" id="name" name="name" required placeholder="ПІБ"/>
                <input 
                type="email" 
                id="email" 
                name="email"
                placeholder="Ваша електронна пошта">
                <input type="text" placeholder="Ваш номер телефону">
                <input 
                type="password" 
                id="password" 
                name="password"
                placeholder="Пароль">
                <input type="submit" id="registrationButton" value="Зареєструватися">
            </form>
        </div>
        
        <div id="modal1"> 
            <form action="/login" method="POST">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Ваш логін"
                  required
                />
                <input
                  type="password"
                  id="password"
                  name="password"
                  required
                  placeholder="Ваш пароль"
                />
                <input type="submit" value="Увійти" />
              </form>
        </div> 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/slick.min.js"></script>
<script src= "js/jquery.formstyler.min.js"></script>
<script src="js/main.js"></script>

</body>
</html>